@model EventData
@{
    ViewData["Title"] = "New Event";
}
<form asp-action="New" asp-controller="Event" asp-anti-forgery="true">
    <div class="container-xxl content-wrapper py-4">

        <div class="row mx-4">

            <div class="col-1"></div>

            <div class="col-10 p-0">

                <div class="outter-wrapper p-4">

                    <div class="inner-wrapper">

                        <h1 class="mt-2">Добавление нового соревнования</h1>

                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-10 p-0">
                                <p class="p-0 m-0">* - обязательное поле</p>
                            </div>
                        </div>

                        <div class="validation" asp-validation-summary="ModelOnly"></div>
                        @**************************************@
                        <div class="form-group row my-2">
                            <div class="col-1"></div>
                            <div class="col-3 p-0"><label asp-for="Title">Название соревнования*</label></div>
                            <div class="col-2"></div>
                            <div class="col-5 p-0">
                                <textarea class="input-note" rows="3" cols="100" asp-for="Title"></textarea>
                            </div>
                            <div class="col-1"></div>
                        </div>

                        <div class="form-group row my-2">
                            <div class="col-1"></div>
                            <div class="col-3"></div>
                            <div class="col-2"></div>
                            <div class="col-5 p-0">
                                <span asp-validation-for="Title" />
                            </div>
                            <div class="col-1"></div>
                        </div>

                        @**************************************@
                        <div class="form-group row my-2">
                            <div class="col-1"></div>
                            <div class="col-3 p-0"><label asp-for="Date">Дата соревнования*</label></div>
                            <div class="col-2"></div>
                            <div class="col-5 p-0">
                                <input type="date" asp-for="Date" />
                            </div>
                            <div class="col-1"></div>
                        </div>

                        <div class="form-group row my-2">
                            <div class="col-1"></div>
                            <div class="col-3"></div>
                            <div class="col-2"></div>
                            <div class="col-5 p-0">
                                <span asp-validation-for="Date" />
                            </div>
                            <div class="col-1"></div>
                        </div>
                        @**************************************@
                        <div class="form-group row my-2">
                            <div class="col-1"></div>
                            <div class="col-3 p-0"><label asp-for="RegionId">Регион*</label></div>
                            <div class="col-2"></div>
                            <div class="col-5 p-0">
                                <select asp-for="RegionId" asp-items="ViewBag.Regions"><option value=""></option></select>
                            </div>
                            <div class="col-1"></div>
                        </div>

                        <div class="form-group row my-2">
                            <div class="col-1"></div>
                            <div class="col-3"></div>
                            <div class="col-2"></div>
                            <div class="col-5 p-0">
                                <span asp-validation-for="RegionId" />
                            </div>
                            <div class="col-1"></div>
                        </div>
                        @**************************************@
                        <div class="form-group row my-2">
                            <div class="col-1"></div>
                            <div class="col-3 p-0"> <label asp-for="Location">Место проведения</label></div>
                            <div class="col-2"></div>
                            <div class="col-5 p-0">
                                <input type="text" asp-for="Location" />
                            </div>
                            <div class="col-1"></div>
                        </div>

                        @**************************************@
                        <div class="form-group row my-2">
                            <div class="col-1"></div>
                            <div class="col-3 p-0"><label asp-for="Groups">Группы*</label></div>
                            <div class="col-2"></div>
                            <div class="col-5 p-0">
                                <textarea class="input-note" rows="3" cols="100" asp-for="Groups"> Формат ввода : "[группа];[группа];" (пример: Ж12;Ж14;М12;М14;)</textarea>
                            </div>
                            <div class="col-1"></div>
                        </div>

                        <div class="form-group row my-2">
                            <div class="col-1"></div>
                            <div class="col-3"></div>
                            <div class="col-2"></div>
                            <div class="col-5 p-0">
                                <span asp-validation-for="Groups" />
                            </div>
                            <div class="col-1"></div>
                        </div>
                        @**************************************@
                        <div class="form-group row my-2">
                            <div class="col-1"></div>
                            <div class="col-3 p-0"><label asp-for="InfoLink">Ссылка на информацию</label></div>
                            <div class="col-2"></div>
                            <div class="col-5 p-0">
                                <input type="url" asp-for="InfoLink" />
                            </div>
                            <div class="col-1"></div>
                        </div>

                        <div class="form-group row my-2">
                            <div class="col-1"></div>
                            <div class="col-3"></div>
                            <div class="col-2"></div>
                            <div class="col-5 p-0">
                                <span asp-validation-for="InfoLink" />
                            </div>
                            <div class="col-1"></div>
                        </div>
                        @**************************************@
                        <div class="form-group row my-2">
                            <div class="col-1"></div>
                            <div class="col-3 p-0"><label asp-for="ResultsLink">Ссылка на результаты</label></div>
                            <div class="col-2"></div>
                            <div class="col-5 p-0">
                                <input type="url" asp-for="ResultsLink" />
                            </div>
                            <div class="col-1"></div>
                        </div>

                        <div class="form-group row my-2">
                            <div class="col-1"></div>
                            <div class="col-3"></div>
                            <div class="col-2"></div>
                            <div class="col-5 p-0">
                                <span asp-validation-for="ResultsLink" />
                            </div>
                            <div class="col-1"></div>
                        </div>
                        @**************************************@
                    <div class="form-group row my-2">
                        <div class="col-1"></div>
                        <div class="col-3"></div>
                        <div class="col-2"></div>
                        <div class="col-5 p-0 ">
                            <div class="button-class p-0">
                                <input class="submit-button btn btn-outline-dark mb-1 p-0" type="submit" value="Создать" />
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    </div>

                </div>

            </div>
            <div class="col-1"></div>
        </div>
    </div>
    @*<div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="col-5">
            <div class="form-group">
                <label asp-for="Title">Введите название соревнований</label><br />
                <textarea class="input-note" rows="2" cols="100" asp-for="Title"></textarea>
                <span asp-validation-for="Title" />
            </div>
            <div class="form-group">
                <label asp-for="RegionId">Выберите регион</label><br />
                <select asp-for="RegionId" asp-items="ViewBag.Regions"><option value=""></option></select>
                <span asp-validation-for="RegionId" />
            </div>
            <div class="form-group">
                <label asp-for="Date">Введите дату проведения</label><br />
                <input type="date" asp-for="Date" />
                <span asp-validation-for="Date" />
            </div>
            <div class="form-group">
                <label asp-for="Location">Введите место проведения</label><br />
                <input type="text" asp-for="Location" />
            </div>
            <div class="form-group">
                <label asp-for="InfoLink">Вставте ссылку на информацию</label><br />
                <input type="url" asp-for="InfoLink" />
                <span asp-validation-for="InfoLink" />
            </div>
            <div class="form-group">
                <label asp-for="ResultsLink">Вставте ссылку на результаты</label><br />
                <input type="url" asp-for="ResultsLink" />
                <span asp-validation-for="ResultsLink" />
            </div>
            <div class="form-group">
                <label asp-for="Groups">Введите группы. </label><br />
                <textarea class="input-note" rows="2" cols="100" asp-for="Groups" placeholder="Формат ввода : 'группа1;группа2;' (пример: Ж12;Ж14;М12;М14;)"></textarea>
                <span asp-validation-for="Groups" />
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" />
            </div>
        </div>*@
</form>
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        // запрет нажатия ENTER в поле ввода
        $('.input-note').on('keydown', function (e) {
            if (e.keyCode === 13) {
                e.preventDefault();
                whenEnterPressed();
            }
        });
    </script>
}
@section styles{
    <style>
        .input-validation-error {
            border: 3px solid red;
        }

        input, select, option {
            color: black;
        }

        .content-wrapper {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        }

        .outter-wrapper {
        }

        .inner-wrapper {
            border: 3px solid white;
            border-radius: 15px;
        }

            .inner-wrapper h1 {
                font-size: 80%;
                text-align: center;
            }

            .inner-wrapper .row .col-10 p {
                font-size: 60%;
                text-align: left;
            }

        .form-group .col-3 label {
            font-size: 60%;
        }

        .form-group .col-5 {
            /*max-height: 30px;*/
        }

            .form-group .col-5 textarea {
                width: 100%;
                background: rgba(255, 255, 255, 0.6);
                font-size: 50%;
                max-height: fit-content;
                resize: vertical;
                color: black;
            }

            .form-group .col-5 input[type=url] {
                width: 100%;
                background: rgba(255, 255, 255, 0.6);
                /*height: 30px;*/
                max-height: fit-content;
                font-size: 50%
            }

            .form-group .col-5 input[type=text] {
                width: 100%;
                background: rgba(255, 255, 255, 0.6);
                height: 30px;
                max-height: fit-content;
                font-size: 50%;
                color: black;
            }

            .form-group .col-5 input[type=date] {
                width: 100%;
                background: rgba(255, 255, 255, 0.6);
                /*height: 30px;*/
                max-height: fit-content;
                font-size: 50%
            }

            .form-group .col-5 select {
                width: 100%;
                background: rgba(255, 255, 255, 0.6);
                height: 30px;
                font-size: 50%
            }

                .form-group .col-5 select option {
                    width: 100%;
                    font-size: 100%;
                }

            .form-group .col-5 span {
                width: 100%;
                font-size: 70%;
                color: red;
                display: flex;
                align-items: center;
                justify-content: left;
            }

        .button-class {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .submit-button {
            width: 80%;
            height: 40px;
            background-color: rgb(51, 102, 0) !important;
            font-size: 50%;
            border-radius: 7px 5px 7px 5px;
            color: white;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        .validation-summary-errors ul {
            list-style-type: none;
            color: red;
            padding: 0;
        }

            .validation-summary-errors ul li {
                text-align: center;
                color: red;
            }
    </style>
}

