.event-title {
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 100% !important;
}

.event-info {
    background-color: #8b623e;
}


.event-date {
    font-size: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-block .row span {
    font-size: 50%;
    display: inline;
    width: fit-content;
}

.event-info .col-2, .event-info .col-3, .event-info .col-7 {
    font-size: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-wrapper .row .col-10 p {
    font-size: 60%;
    text-align: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.outter-wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.inner-wrapper {
    border: 3px solid white;
    border-radius: 15px;
}

    .inner-wrapper h1 {
        font-size: 80%;
        text-align: center;
    }


.form-group .col-3 label {
    font-size: 60%;
}

.form-group .col-4 span {
    display: flex;
    align-items: center;
    justify-content: left;
}


.form-group .col-4 input[type=number] {
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    max-height: fit-content;
    font-size: 50%;
    color: black;
}

.form-group .col-4 select {
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    height: 30px;
    font-size: 50%;
    color: black;
}

    .form-group .col-4 select option {
        width: 100%;
        font-size: 100%;
        color: black;
    }

.form-group .col-4 span {
    width: 100%;
    font-size: 70%;
    color: red;
    display: flex;
    align-items: center;
    justify-content: left;
}

.button-class {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-button {
    width: 80%;
    height: 40px;
    background-color: rgb(51, 102, 0) !important;
    font-size: 50%;
    border-radius: 7px 5px 7px 5px;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.validation-summary-errors ul {
    list-style-type: none;
    color: red;
    padding: 0;
}

    .validation-summary-errors ul li {
        text-align: center;
        color: red;
    }
