* {
    color: #ffffff;
    font-size: xx-large; /*32px*/
}

body {
    background-image: url("../img/background-body_1.png");
    min-height: 100vh;
}

.container-xxl {
    padding: 0 !important;
}

.row {
    margin: 0 !important;
}

/*^^^^^^^^^^^^^^header^^^^^^^^^^^^^^*/

.navbar {
    background-color: rgb(51, 102, 0);
    padding: .2rem 0 !important;
}

    .navbar .container-xxl .col-2 {
        padding: 0 !important;
    }

.header-cols {
    /* font-size: 24px; */
    text-align: right;
}

    .header-cols a {
        color: #ffffff;
        text-decoration: none;
        font-size: x-large;
    }

/*^^^^^^^^^^^^^^main-picture^^^^^^^^^^^^^^*/

.main-picture {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/main_picture.jpg");
    background-size: cover;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

    .main-picture .site-name {
        /* font-size: 72px; */
        font-size: 250%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

/*^^^^^^^^^^^^^^search-row^^^^^^^^^^^^^^*/

.search-row {
    height: 50px;
    background-color: #8b623e;
}

    .search-row .col-3 .row {
        height: 100%;
    }

        .search-row .col-3 .row .col-3 {
            font-size: 65%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

.select-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

    .select-list select {
        color: #000000;
        font-size: 14px;
        background-color: #d9c4b5;
        width: 80%;
    }

        .select-list select option {
            color: #000000;
            font-size: 14px;
        }

.search-row .col-3 .filter-button {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
}

    .search-row .col-3 .filter-button button {
        width: 80%;
        background-color: #563f3b;
        font-size: 60%;
        border-radius: 5px 10px 5px 10px;
        margin: auto;
    }

/*^^^^^^^^^^^^^^news-main-block^^^^^^^^^^^^^^*/

.main-block {
    padding-top: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 100vh;
}

.news-content {
    text-align: center;
    height: 100%;
}

    .news-content .new-year-picture {
        max-width: 100%;
        height: auto;
    }

    .news-content .new-year-text {
        font-size: 24px;
    }

    .news-content .news-picture {
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 100%;
        height: auto;
    }

/*^^^^^^^^^^^^^^^^^accordion^^^^^^^^^^^^^^^^^^^^^*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion-wrapper {
    height: 80%;
}

.accordion {
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    width: 100%;
    border: 3px solid white;
    outline: none;
    transition: 0.4s;
}

.button-date {
    width: 20%;
    height: 100%;
    display: inline-block;
    background-color: #8b623e;
}

.button-name {
    height: 100%;
    display: inline-block;
    width: 80%;
    text-align: center;
}

.accordion-panel-line .col-3 {
    background-color: #8b623e;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .accordion-panel-line .col-3 a {
        color: #ffffff;
        text-decoration: none;
        font-size: 50%;
        width: 100%;
        text-align: center;
    }

.accordion-panel-line .col-9 {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .accordion-panel-line .col-9 span {
        text-align: center;
        font-size: 50%;
    }

/* Style the accordion panel. Note: hidden by default */
.panel {
    display: none;
    overflow: hidden;
}

.col-9 nav {
    height: 10%;
}

    .col-9 nav ul {
        margin: 0 !important;
    }

.page-link {
    background-color: #a78769 !important;
    text-decoration: none !important;
    color: white !important;
    font-size: smaller !important;
}

.page-item.active .page-link {
    border-color: white !important;
    background-color: #8b623e !important;
}












/*^^^^^^^^^^^^^^footer^^^^^^^^^^^^^^*/
footer {
    height: 100%;
}

.footer-phrase {
    background-color: #336600;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .footer-phrase h4 {
        font-size: 100%;
    }

.footer-copyright {
    background-color: #064400;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .footer-copyright h5 {
        font-size: 40%;
        margin: 0;
    }
