@model HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="w-100 main-picture">
    <div class="site-name"><h1>OrienteeringUkraine</h1></div>
</div>

<div class="container-xxl">

    <div class="row search-row w-100">

        <div class="col-3">

            <div class="row">

                <div class="col-3 p-0 pb-1">Регион: </div>
                <div class="col-9 p-0 select-list">
                    <select class="select-region">
                        <option class="region-option"></option>
                        <option class="region-option">АР Крым</option>
                        <option class="region-option">Винницкая область</option>
                        <option class="region-option">Волынская область</option>
                        <option class="region-option">Днепропетровская область</option>
                        <option class="region-option">Донецкая область</option>
                        <option class="region-option">Житомирская область</option>
                        <option class="region-option">Закарпатская область</option>
                        <option class="region-option">Запорожская область</option>
                        <option class="region-option">Ивано-Франковская область</option>
                        <option class="region-option">Киевская область</option>
                        <option class="region-option">Киев</option>
                        <option class="region-option">Кировоградская область</option>
                        <option class="region-option">Луганская область</option>
                        <option class="region-option">Львовская область</option>
                        <option class="region-option">Николаевская область</option>
                        <option class="region-option">Одесская область</option>
                        <option class="region-option">Полтавская область</option>
                        <option class="region-option">Ровенская область</option>
                        <option class="region-option">Севастополь</option>
                        <option class="region-option">Сумская область</option>
                        <option class="region-option">Тернопольская область</option>
                        <option class="region-option">Харьковская область</option>
                        <option class="region-option">Херсонская область</option>
                        <option class="region-option" selected>Хмельницкая область</option>
                        <option class="region-option">Черкасская область</option>
                        <option class="region-option">Черниговская область</option>
                        <option class="region-option">Черновицкая область</option>
                    </select>
                </div>

            </div>

        </div>

        <div class="col-3">

            <div class="row">

                <div class="col-3 p-0 pb-1">Год: </div>
                <div class="col-9 p-0 select-list">
                    <select class="select-region">
                        <option class="year-option" selected></option>
                        <option class="year-option">2020</option>
                        <option class="year-option">2019</option>
                        <option class="year-option">2018</option>
                        <option class="year-option">2017</option>
                        <option class="year-option">2016</option>
                        <option class="year-option">2015</option>
                        <option class="year-option">2014</option>
                        <option class="year-option">2013</option>
                        <option class="year-option">2012</option>
                        <option class="year-option">2011</option>
                    </select>
                </div>

            </div>

        </div>

        <div class="col-3">

            <div class="row">

                <div class="col-3 p-0 pb-1">Месяц: </div>
                <div class="col-9 p-0 select-list">
                    <select class="select-month">
                        <option class="month-option" selected></option>
                        <option class="month-option">Январь</option>
                        <option class="month-option">Февраль</option>
                        <option class="month-option">Март</option>
                        <option class="month-option">Апрель</option>
                        <option class="month-option">Май</option>
                        <option class="month-option">Июнь</option>
                        <option class="month-option">Июль</option>
                        <option class="month-option">Август</option>
                        <option class="month-option">Сентябрь</option>
                        <option class="month-option">Октябрь</option>
                        <option class="month-option">Ноябрь</option>
                        <option class="month-option">Декабрь</option>
                    </select>
                </div>

            </div>

        </div>

        <div class="col-3">
            <div class=" filter-button"><button>Фильтровать</button></div>
        </div>

    </div>

    <div class="row main-block w-100">

        <div class="col-9 table-content"></div>

        <div class="col-3 news-content">

            <img class="new-year-picture" src="img/snowSHAR.jpg" alt="">
            <span class="new-year-text">С наступающим 2021 годом!</span>

            <img class="news-picture" src="img/5-best-websites-for-watching-news-1.png" alt="">

        </div>

    </div>

</div>