@model AccountUserModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<form asp-action="Edit" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="Login">Login</label><br />
            <input type="text" asp-for="Login" />
            <span asp-validation-for="Login" />
        </div>
        <div>
            <label asp-for="Name">Имя</label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name" />
        </div>
        <div>
            <label asp-for="Surname">Фамилию</label><br />
            <input type="text" asp-for="Surname" />
            <span asp-validation-for="Surname" />
        </div>
        <div>
            <label asp-for="Birthday">Дата Рождения</label><br />
            <input type="date" asp-for="Birthday" />
        </div>
        <div>
            <label asp-for="RegionId">Регион</label><br />
            <select asp-for="RegionId" asp-items="ViewBag.Regions"></select>
            <span asp-validation-for="RegionId" />
        </div>
        <div>
            <label asp-for="ClubId">Клуб</label><br />
            <select asp-for="ClubId" asp-items="ViewBag.Clubs"><option value=""></option></select>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>
<div>
    <a asp-action="Profile" asp-route-login="@User.Identity.Name">Back</a>
</div>
@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script><!--подключение jquery-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
@section styles{
    <style>
        .input-validation-error {
            background: crimson
        }
    </style>
}
