@model AccountRegisterData
@{
    ViewData["Title"] = "Register";
}





<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">

    <div class="container-xxl content-wrapper py-4">

        <div class="row mx-4">

            <div class="col-2"></div>

            <div class="col-8 p-0">

                <div class="outter-wrapper p-4">

                    <div class="inner-wrapper">

                        <h1 class="mt-2">Регистрация</h1>

                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-10 p-0">
                                <p class="p-0 m-0">* - обязательное поле</p>
                            </div>
                        </div>

                        <div class="validation" asp-validation-summary="ModelOnly"></div>
                        @**************************************@
                        <div class="form-group row my-2">
                            <div class="col-2"></div>
                            <div class="col-2 p-0"><label asp-for="Name">Имя*</label></div>
                            <div class="col-2"></div>
                            <div class="col-4 p-0">
                                <input type="text" asp-for="Name" />
                            </div>
                            <div class="col-2"></div>
                        </div>

                        <div class="form-group row my-2">
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="col-4 p-0">
                                <span asp-validation-for="Name" />
                            </div>
                            <div class="col-2"></div>
                        </div>
                        @**************************************@
                        <div class="form-group row my-2">
                            <div class="col-2"></div>
                            <div class="col-2 p-0"><label asp-for="Surname">Фамилия*</label></div>
                            <div class="col-2"></div>
                            <div class="col-4 p-0">
                                <input type="text" asp-for="Surname" />
                            </div>
                            <div class="col-2"></div>
                        </div>

                        <div class="form-group row my-2">
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="col-4 p-0">
                                <span asp-validation-for="Surname" />
                            </div>
                            <div class="col-2"></div>
                        </div>
                        @**************************************@
                        <div class="form-group row my-2">
                            <div class="col-2"></div>
                            <div class="col-2 p-0"><label asp-for="Birthday">Введите дату рождения</label></div>
                            <div class="col-2"></div>
                            <div class="col-4 p-0">
                                <input type="date" asp-for="Birthday" />
                            </div>
                            <div class="col-2"></div>
                        </div>
                        @**************************************@
                        <div class="form-group row my-2">
                            <div class="col-2"></div>
                            <div class="col-2 p-0"><label asp-for="RegionId">Регион*</label></div>
                            <div class="col-2"></div>
                            <div class="col-4 p-0">
                                <select asp-for="RegionId" asp-items="ViewBag.Regions"><option value=""></option></select>
                            </div>
                            <div class="col-2"></div>
                        </div>

                        <div class="form-group row my-2">
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="col-4 p-0">
                                <span asp-validation-for="RegionId" />
                            </div>
                            <div class="col-2"></div>
                        </div>
                        @**************************************@
                        <div class="form-group row my-2">
                            <div class="col-2"></div>
                            <div class="col-2 p-0"><label asp-for="ClubId">Клуб</label></div>
                            <div class="col-2"></div>
                            <div class="col-4 p-0">
                                <select asp-for="ClubId" asp-items="ViewBag.Clubs"><option value=""></option></select>
                            </div>
                            <div class="col-2"></div>
                        </div>
                        @**************************************@
                        <div class="form-group row my-2">
                            <div class="col-2"></div>
                            <div class="col-2 p-0"><label asp-for="Login">Логин*</label></div>
                            <div class="col-2"></div>
                            <div class="col-4 p-0">
                                <input type="text" asp-for="Login" />
                            </div>
                            <div class="col-2"></div>
                        </div>

                        <div class="form-group row my-2">
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="col-4 p-0">
                                <span asp-validation-for="Login" />
                            </div>
                            <div class="col-2"></div>
                        </div>
                        @**************************************@
                        <div class="form-group row my-2">
                            <div class="col-2"></div>
                            <div class="col-2 p-0"><label asp-for="Password">Пароль*</label></div>
                            <div class="col-2"></div>
                            <div class="col-4 p-0">
                                <input type="password" asp-for="Password" />
                            </div>
                            <div class="col-2"></div>
                        </div>

                        <div class="form-group row my-2">
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="col-4 p-0">
                                <span asp-validation-for="Password" />
                            </div>
                            <div class="col-2"></div>
                        </div>
                        @**************************************@
                        <div class="form-group row my-2">
                            <div class="col-2"></div>
                            <div class="col-2 p-0"><label asp-for="ConfirmPassword">Повторите пароль*</label></div>
                            <div class="col-2"></div>
                            <div class="col-4 p-0">
                                <input type="password" asp-for="ConfirmPassword" />
                            </div>
                            <div class="col-2"></div>
                        </div>

                        <div class="form-group row my-2">
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="col-4 p-0">
                                <span asp-validation-for="ConfirmPassword" />
                            </div>
                            <div class="col-2"></div>
                        </div>
                        @**************************************@
                        <div class="form-group row my-2">
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                            <div class="col-4 p-0 button-class">
                                <input class="submit-button btn btn-outline-dark mb-1 p-0" type="submit" value="Регистрация" />
                            </div>
                            <div class="col-2"></div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="col-2"></div>
        </div>
    </div>
</form>
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/account_register_styles.css">
}